@import 'tailwindcss';

@theme {
  --color-brand-50: oklch(0.97 0.02 270);
  --color-brand-500: oklch(0.65 0.18 270);
  --color-brand-700: oklch(0.45 0.18 270);
}

html,
body {
  height: 100%;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
